/*.requerido:after {
  content:"*";
  color: red;
}

.fundo-menu {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-size: cover;
  background-image: url("../../../../../../src/assets/images/menu/menuDesfocado.png");
}

.play-button {
  position: absolute;
  z-index: 2;
  background-image: url("../../../../../../src/assets/images/menu/play.png");
  background-size: cover;
  width: calc((509px / 2) / 1.5);
  height: calc((480px / 2) / 1.5);
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

.play-button:hover {
  animation: balancar 5s infinite;
}

@keyframes balancar {
  0%   {transform: rotate(0deg);}
  20%  {transform: rotate(-20deg);}
  40%  {transform: rotate(20deg);}
  80%  {transform: rotate(-20deg);}
  100% {transform: rotate(0deg);}
}*/

body {
  overflow: hidden;
}
* {
  --altura_text_area_code: 70vh;
}
.counted {
  height: 100vh;
}
.counted div {
  padding: 0 !important;
}
.counted div.areaCode {
  position: absolute;
  right: 0;
  width: calc(100% - 952px);
}
.lines, .code {
  height: var(--altura_text_area_code);
  padding: 0;
  border: none;
  box-shadow: none !important;
  outline: none !important;
  margin: 0 !important;
  font-size: 16pt;
}
.lines {
  width: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: auto;
}
.lines::-webkit-scrollbar {
  width: 0;
}
.code {
  width: 100%;
  background-color: beige;
  padding-left: 10px;
  padding-right: 10px;
  resize: none;
  overflow-wrap: normal;
}
.lines span {
  display: block;
  width: auto;
  color: silver;
}
.areaCode table {
  width: 100%;
}
.areaCode table tr td {
  min-width: 0 !important;
}
.botao {
  cursor: pointer;
  border-radius: 100%;
  width: 60px;
  height: auto;
}
.botao:hover {
  animation-name: example;
  animation-duration: .3s;
}
@keyframes example {
  25% {transform: rotateZ(20deg)}
  50% {transform: rotateZ(-30deg)}
  75% {transform: rotateZ(30deg)}
  100% {transform: rotateZ(-20deg)}
}

