.gameArea {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/533/848/small_2x/Brickwall004.jpg");
  background-position-y: bottom;
}

.gameArea, .areaCode {
  position: absolute;
  display: inline-block;
  height: 100vh;
}

.areaCode {
  right: 0;
  width: calc(100% - 700px);
  border: 0 solid black;
}

.areaCode table {
  width: 100%;
}

.play-button, .reset-button, .pause-button {
  border: none;
  border-radius: 100%;
  width: calc(0.6 * 25vh);
  height: calc(0.6 * 25vh);
  background-color: #68931e;
  outline: #68931e solid 2px;
  transition: .5s;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 2px 0 3px rgba(0,0,0,0.25);
}

.play-button {
  animation-name: pulseOutlineInfinit;
  animation-duration: 0.6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes pulseOutlineInfinit {
  0%  {outline-offset: 0;}
  100% {outline-offset: calc(0.2 * 25vh);}
}

.reset-button {
  background-color: #c95151;
  outline-color: #c95151;
}

.reset-button:hover {
  outline-color: transparent;
  outline-width: calc(0.2 * 25vh);
}

.play-button .img-button-play {
  transition: .5s;
  width: 60%;
  margin-left: calc(60% / 16);
  filter: invert(0) opacity(0.5);
}

.pause-button.pause .img-button-play.pause {
  transition: .5s;
  width: 70%;
  margin-left: 0;
  filter: invert(0) opacity(0.5);
}

.reset-button .img-button-reset {
  transition: .5s;
  width: 75%;
  filter: invert(0) opacity(0.5);
}

.ace-editor {
  border-radius: 15px;
  border: 15px solid rgba(0, 0, 0, 0.5);
}

.direction-control {
  color: white;
  border-radius: 100%;
  width: calc(0.3 * 25vh);
  height: calc(0.3 * 25vh);
  background-color: #68931e;
  outline: #68931e solid 2px;
  cursor: pointer;
  transition: .5s;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  box-shadow: 5px 2px 0 3px rgba(0,0,0,0.25);
}

.direction-control:hover {
  outline-color: transparent;
  outline-offset: calc(0.2 * 25vh);
}

.direction-control img {
  width: 75%;
  filter: opacity(0.5);
}

.direction-control .up {
  transform: rotateZ(-90deg);
}

.direction-control .left {
  transform: rotateZ(-180deg);
}

.direction-control .down {
  transform: rotateZ(90deg);
}

.pular-tudo {
  font-size: 12px;
  cursor: pointer;
}

.pular-tudo:hover {
  text-decoration: underline;
}

.pular-tudo:before {
  content: "Pular tudo";
}
