<div class="content-right-side-bar" id="content-right-side-bar">
  <div class="fundo" (click)="fecharMenuLateral()"></div>
  <div class="menu">
    <div class="row mb-3">
      <div class="col-md-12 text-end">
        <button class="btn btn-close" (click)="fecharMenuLateral()" style="filter: invert(1)"></button>
      </div>
    </div>
    <div class="row pb-3">
      <label for="volume-principal" class="form-label">Volume Principal:</label>
      <table>
        <tr>
          <td></td>
          <td class="text-center">{{volumePrincipal}}%</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-end">
            <img src="assets/images/game/sons/som-.png" class="img-controle-som menos">
          </td>

          <td style="padding-right: 15px"><input type="range" [(ngModel)]="volumePrincipal" (input)="changeVolumePrincipal()" class="form-range" id="volume-principal"></td>

          <td><img src="assets/images/game/sons/som+.png" class="img-controle-som menos"></td>
        </tr>
      </table>
    </div>

    <hr>

    <div class="row pb-3 pt-3">

      <label for="volume-principal" class="form-label">Efeitos Sonoros:</label>
      <table>
        <tr>
          <td></td>
          <td class="text-center">{{efeitosSonoros}}%</td>
          <td></td>
        </tr>
        <tr>
          <td class="text-end"><img src="assets/images/game/sons/som-.png" class="img-controle-som menos"></td>
          <td style="padding-right: 15px"><input type="range" [(ngModel)]="efeitosSonoros" (input)="changeEfeitosSonoros()" class="form-range" id="efeitos-sonoros"></td>
          <td><img src="assets/images/game/sons/som+.png" class="img-controle-som menos"></td>
        </tr>
      </table>
    </div>

    <div class="position-absolute bottom-0 start-0 mb-4 ms-4 text-truncate" style="width: 212px">
      {{getEmailUsuario()}}
    </div>

    <div class="position-absolute bottom-0 end-0 mb-4 me-4">
      <a routerLink="/menu" class="pointer text-white text-decoration-none fs-4">
        <strong class="me-2">Sair</strong>
        <img src="http://cdn.onlinewebfonts.com/svg/img_235476.png" style="width: 24px; margin-top: -5px; filter: invert(1)">
      </a>
    </div>
  </div>
</div>
