<div class="content-right-side-bar" id="content-right-side-bar">
  <div class="fundo" (click)="fecharMenuLateral()"></div>
  <div class="menu">
    <div class="row">
      <div class="col-md-10">
        <label for="volume-principal" class="form-label">Volume Principal:</label>
        <input type="range" [(ngModel)]="volumePrincipal" (input)="changeVolumePrincipal()" class="form-range" id="volume-principal">
      </div>
      <div class="col-md-1">
        <label for="volume-principal" class="form-label">&nbsp;</label>
        {{volumePrincipal}}%
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-10">
        <label for="efeitos-sonoros" class="form-label">Efeitos sonoros:</label>
        <input type="range" [(ngModel)]="efeitosSonoros" (input)="changeEfeitosSonoros()" class="form-range" id="efeitos-sonoros">
      </div>
      <div class="col-md-1">
        <label for="volume-principal" class="form-label">&nbsp;</label>
        {{efeitosSonoros}}%
      </div>
    </div>
  </div>
</div>
