<div class="gameArea" #gameArea></div>

<div class="areaCode" style="background-color: #343432">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <ace-editor id="style-1"
          #editor
          (textChange)="mudouTexto($event)"
          style="height: 600px; width:100%;"></ace-editor>
      </td>
    </tr>
  </table>

  <table>
    <tr>
      <td>
        <div class="row p-3 align-middle">
          <div class="col-md-6 align-middle">
            <img src="https://img.icons8.com/dusk/64/000000/circled-play.png" title="Play" class="botao" id="play" alt="playButton" (click)="readConsoleText()"/>
          </div>
          <div class="col-md-6">
            <img src="https://img.icons8.com/external-bearicons-outline-color-bearicons/64/000000/external-Reset-miscellany-texts-and-badges-bearicons-outline-color-bearicons.png" title="Play" class="botao" id="reset"/>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>

